.grid-container {
  width: 900px;
  margin: 5% auto;
  padding: 10px;
  color: white;
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px;
  grid-template-rows: 180px 180px;
}

@media only screen and (max-width: 900px) {
  .grid-container {
    width: 900px;
    margin: 5% auto;
    padding: 10px;
    color: white;
    display: grid;
    grid-template-columns: 180px 180px ;
    grid-template-rows: 180px 180px 180px 180px 180px;
  }
}

.grid-container > div {
  text-align: center;
  margin: 10px;
}

.thumb {
  width: 130px;
}

.firstthumb {
  width: 300px
}

.first {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.small {
  width: 130px;
}

.row {
  margin: 0 auto;
  text-align: center;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
}

.small-games {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

img {
  border-radius: 5%;
  cursor: pointer;
}
